services:
  api:
    image: fumin89642/waffle-toy-project:latest
    container_name: waffle-api
    restart: always
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]